.skill {
  cursor: pointer;
  display: inline-block;
  color: var(--ion-color-brown);
  font-weight: normal;
  font-size: 18px;
  padding: 2px 8px;
  margin: 2px;
  border: 1px solid #763a3a;
  border-radius: 4px;
  &.has {
    color: white;
    font-weight: normal;
    background-color: var(--ion-color-brown);;
    display: inline-block;
  }
}
